<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database Connection Settings -->
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.connection.url">jdbc:h2:file:./dbResource/myDB;DB_CLOSE_ON_EXIT=FALSE</property>
        <property name="hibernate.connection.username">goj</property>
        <property name="hibernate.connection.password"/>

        <!-- Hibernate Properties -->
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Indication to execute the SQL script after the database is created -->
        <property name="hibernate.hbm2ddl.import_files">src/main/resources/import.sql</property>

        <!-- Annotated Entity Classes -->
        <mapping class="data.entities.Book"/>
        <mapping class="data.entities.Borrowing"/>
        <mapping class="data.entities.Copy"/>
        <mapping class="data.entities.Librarian"/>
        <mapping class="data.entities.Member"/>
        <mapping class="data.entities.Publisher"/>
    </session-factory>
</hibernate-configuration>